@model IEnumerable<KatsCoffeMachine.Models.Coffee>

@{
    ViewData["Title"] = "Available drinks";
}

<h1>Available drinks</h1>

<p>
    <a asp-action="AddDrink">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupPackages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoffeeType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CupsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CupPackages)
                </td>
            </tr>
        }
    </tbody>
</table>
