@model IEnumerable<KatsCoffeMachine.Models.Coffee>

@{
    ViewData["Title"] = "Available drinks";
}

<h1>Available drinks</h1>

<p>
    <a asp-action="AddDrink">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoffeeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CupsInPackage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoffeeType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CupsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CupsInPackage)
                </td>
                <td>
                    <a asp-action="" asp-route-id="@item.Id">Order</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
